 body {
background-color: black;

}
.display{
  font-size: 46px;
  text-align: center;
  font-style: italic;
  font-family: 'Chilanka', cursive;
}

#btn-1,
#btn-2,
#btn-3,
#btn-4 {
    width:150px;
    height:150px;
    margin:50px;
}

   #result{
  border:3px; 
  border-style:solid;
   padding: 1em;
  float:center;
  position:fixed;
  left:600px;
  width: 400px;
  float:center;
  bottom:30px;
   background-color: rgb(233, 240, 232);
   font-size: 18px;
   color:rgb(11, 12, 11);
   text-align: center;
 }

#images{

  float:center;
  margin:0px 0px 0px 150px;
  cursor: pointer;
}
.result{

  border-style: dotted;
  padding: 25px;
  width:20%;
}

@media only screen and (max-width: 760px) {

  body {

    height: 100%;
    background-color: black;

  
  }
    #btn-1,
    #btn-2,
    #btn-3,
    #btn-4 {
        width:150px;
        height:120px;
        margin:5px auto;
        padding:5px
    }
   

   .display{
    font-size: 26px;
    text-align: center;
    font-style: italic;
    font-family: 'Chilanka', cursive;
  }
  

  .btn{

    margin: 10px;
  }

  .result{

    border-style: dotted;
    padding: 5px;
    width:100%;
  }
  
 
  }
